// 
// Contact
// 

.contact-section {

    background-color: #f0f0f0;
    padding: 5rem 0;

    svg {
        font-size: 40px;
    }

    .card {
        border: 0;
        border-bottom: 0.25rem solid $blue;

        h4 {
            font-size: 1.3rem;
            font-family: $font-family-special;
            text-transform: uppercase;
            letter-spacing: 0.15rem;
        }

        hr {
            border-color: $blue;
            border-width: 0.25rem;
            width: 3rem;
        }
        p {
            font-size: 1.1rem; 
        }
    }

    .social {
        margin-top: 5rem;

        a {
            text-align: center;
            height: 4rem;
            width: 4rem;
            background: $white;
            border-radius: 100%;
            line-height: 4.2rem;
            color: $blue;
            font-size: 36px;

            &:hover {
                color: $white;
                background: $blue;
            }

            &:active {
                color: $white;
            }
        }
    }
}