// 
// Gallery
// 

.gallery-section {

    .full-width-gallery-image > img{
        max-height: 90vh;
    }

    .gallery-container {
        padding: 1.5rem;
    }

    .image-title {
        margin-top: 1rem;
        margin-bottom: 0rem;
        text-align: center;
    }

    .image-description {
        color: $gray-600;
        text-align: center;
        margin-bottom: 0rem;
    }

    .sold-container {
        position: relative;
        margin-top: 1rem;
    }

    .sold {
        height: 20px;
        width: 20px;
        background-color: #e00;
        border-radius: 50%;
        position: absolute;
        right: 0;
    }
}
