// 
// Gallery
// 

.gallery-section {

    .full-width-gallery-image > img{
        max-height: 90vh;
    }

    .featured-text {
        padding: 2rem;

        @include media-breakpoint-up(lg) {
            padding: 0 0 0 2rem;
            border-left: 0.5rem solid $primary;
        }
    }

    .featured-image {
        max-height: 80vh;
    }

    .featured-image-left {
        float: right;
    }

    .order-lg-first {
        .featured-text {
            @include media-breakpoint-up(lg) {
                padding: 0 2rem 0 0;
                border-right: 0.5rem solid $primary;
                border-left: 0;
            }
        }
    }

    .gallery-container {
        padding: 1.5rem;
    }
}



@media (min-width: 1080px) {   
    .gallery-container > img {
        max-height: 47vh;
    }
}