// 
// Gallery
// 

.gallery-section {

    .full-width-gallery-image > img{
        max-height: 90vh;
    }

    .gallery-container {
        padding: 1.5rem;
    }

    .image-title {
        margin-top: 1rem;
        margin-bottom: 0rem;
        text-align: center;
    }

    .image-description {
        color: $gray-600;
        text-align: center;
        margin-bottom: 0rem;
    }
}
