// 
// Masthead
// 

.masthead {
    position: relative;
    width: 100%;
    height: auto;
    //height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: linear-gradient(to bottom,
        #{fade-out(#002030, 0.2)} 0%,
        #{fade-out(#002030, 0.9)} 30%,
        #{fade-out(#002030, 0.8)} 65%,
        #{fade-out(#002030, 0)} 100%),
    url("../assets/gallery/bg-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

    .padding-top-masthead {
        padding-top: 350px;
    }

    h1 {
        font-family: $font-family-special;
        font-size: 2rem;
        line-height: 2rem;
        letter-spacing: 0.8rem;
        color: $gray-300;
    }

    h2 {
        max-width: 30rem;
        font-size: 1rem;
        color: $gray-400;
    }

    @include media-breakpoint-up(md) {
        h1 {
            font-size: 3rem;
            line-height: 3rem;
        }
    }
    

    @include media-breakpoint-up(lg) {
        height: 100vh;
        padding: 0;

        h1 {
            font-size: 4rem;
            line-height: 4rem;
            letter-spacing: 0.8rem;
        }
        h2 {
            max-width: 50rem;
            font-size: 1.1rem;
        }
        
    } 
}

//
// Carousel
//

/*
.carousel {    
    margin: 120px 80px 80px 80px;
    width: calc(100% - 160px);
    height: calc(100vh - 200px);
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    
    img {
        width: 100%;
        height: calc(100vh - 200px);
        object-fit: contain;
    }

    .carousel-control-prev, .carousel-control-next  {
        width: 3rem;
        margin: 1rem;
        opacity: 1;
    }

    .carousel-control-padding {
        height: 3rem;
        width: 3rem;
        line-height: 3rem;
        background: fade-out($light-blue, 0.3);
        border-radius: 100%;

        .carousel-control {
            color: $primary;
        }

        &:hover {
            background: fade-out($dark-teal, 0.3);
            .carousel-control {
                color: $white;
            }
        }        
    }
}

@media (max-width: 1200px) {
    .carousel { 
        margin: 120px 40px 80px 40px;
        width: calc(100% - 80px);
    }

    .carousel-control-prev, .carousel-control-next  {
        margin: 0.5rem;
    }
}

@media (max-width: 800px) {
    .carousel { 
        margin: 120px 5px 80px 5px;
        width: calc(100% - 10px);
    }

    .carousel-control-prev, .carousel-control-next  {
        margin: 0 !important;
    }
}
*/