// 
// Masthead
// 

.masthead {
    position: relative;
    width: 100%;
    height: auto;
    //height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: url("../assets/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

    h1 {
        font-family: $font-family-special;
        font-size: 3rem;
        letter-spacing: 1.2rem;
        color: $gray-100;
    }

    h2 {
        font-family: $font-family-special;
        max-width: 30rem;
        font-size: 1.6rem;
        color: $gray-300;
    }

    @include media-breakpoint-up(md) {
        h1 {
            font-size: 4rem;
        }
        
        h2 {
            max-width: 50rem;
            font-size: 2.1rem;
        }
    }
    

    @include media-breakpoint-up(lg) {
        height: 100vh;
        padding: 0;

        h1 {
            font-size: 7rem;
        }
        h2 {
            max-width: 60rem;
            font-size: 4rem;
        }
        
    } 
}
