doctype html
html(lang='en')

    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Jules Jackson

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons
        script(src='https://use.fontawesome.com/releases/v5.15.4/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.navbar-shrink
            .container.px-4.px-lg-5
                a.navbar-brand(href='/') Jules Jackson
                button.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        li.nav-item 
                            a.nav-link(href='/2024.html') 2024
                        li.nav-item 
                            a.nav-link(href='/2023.html') 2023
                        li.nav-item 
                            a.nav-link(href='/about.html') About
                        li.nav-item
                            a.nav-link(href='#contact') Contact

        // Section - Canvas
        section.gallery-section
            #canvas
                .container.px-4.px-lg-5

                    // Canvas Row                       
                    .row.gx-0.mb-5.mb-lg-0.justify-content-center
                        .col-md-6.col-12.gallery-container
                            img.img-fluid(src='assets/gallery/2024/01.jpg', alt='...')
                            .container
                                .row    
                                    .col-10.offset-1
                                        p.image-title Imbued with Love
                                        p.image-description 80cm x 80cm
                        .col-md-6.col-12.gallery-container
                            img.img-fluid(src='assets/gallery/2024/02.jpg', alt='...')
                            .container
                                .row    
                                    .col-10.offset-1
                                        p.image-title Step into the Light
                                        p.image-description 80cm x 80cm
                                    .col-1
                                        .sold-container
                                            .sold
                        .col-md-6.col-12.gallery-container
                            img.img-fluid(src='assets/gallery/2024/03.jpg', alt='...')
                            .container
                                .row    
                                    .col-10.offset-1
                                        p.image-title High in the Sky
                                        p.image-description 80cm x 80cm
                        .col-md-6.col-12.gallery-container
                            img.img-fluid(src='assets/gallery/2024/04.jpg', alt='...')
                            .container
                                .row    
                                    .col-10.offset-1
                                        p.image-title The Headiness of the Summit
                                        p.image-description 80cm x 80cm
                        .col-md-6.col-12.gallery-container
                            img.img-fluid(src='assets/gallery/2024/05.jpg', alt='...')
                            .container
                                .row    
                                    .col-10.offset-1
                                        p.image-title The Heart of the Matter
                                        p.image-description 80cm x 80cm
                        .col-md-6.col-12.gallery-container
                            img.img-fluid(src='assets/gallery/2024/06.jpg', alt='...')
                            .container
                                .row    
                                    .col-10.offset-1
                                        p.image-title Colbalt Violet Glow
                                        p.image-description 80cm x 80cm
                        .col-md-6.col-12.gallery-container
                            img.img-fluid(src='assets/gallery/2024/07.jpg', alt='...')
                            .container
                                .row    
                                    .col-10.offset-1
                                        p.image-title The Colours that Murmur in the Sky
                                        p.image-description 80cm x 80cm
                    .row.gx-0.mb-5.mb-lg-0.justify-content-center
                        .col-12.gallery-container.full-width-gallery-image
                            img.img-fluid(src='assets/gallery/2024/08.jpg', alt='...')
                            .container
                                .row    
                                    .col-10.offset-1
                                        p.image-title The Clouds are the Catchers of Dreams
                                        p.image-description 50cm x 100cm
                        .col-12.gallery-container.full-width-gallery-image
                            img.img-fluid(src='assets/gallery/2024/09.jpg', alt='...')
                            .container
                                .row    
                                    .col-10.offset-1
                                        p.image-title Blood Red Hope for Tomorrow
                                        p.image-description 50cm x 100cm
                        .col-12.gallery-container.full-width-gallery-image
                            img.img-fluid(src='assets/gallery/2024/10.jpg', alt='...')
                            .container
                                .row    
                                    .col-10.offset-1
                                        p.image-title The Heavy Weight of Beauty
                                        p.image-description 50cm x 100cm
                        .col-12.gallery-container.full-width-gallery-image
                            img.img-fluid(src='assets/gallery/2024/11.jpg', alt='...')
                            .container
                                .row    
                                    .col-10.offset-1
                                        p.image-title Kilmory Bay Resting
                                        p.image-description 50cm x 100cm
                        .col-12.gallery-container.full-width-gallery-image
                            img.img-fluid(src='assets/gallery/2024/12.jpg', alt='...')
                            .container
                                .row    
                                    .col-10.offset-1
                                        p.image-title Gentle Violet Clouds
                                        p.image-description 50cm x 100cm
                        .col-12.gallery-container.full-width-gallery-image
                            img.img-fluid(src='assets/gallery/2024/13.jpg', alt='...')
                            .container
                                .row    
                                    .col-10.offset-1
                                        p.image-title Light Breaks Through
                                        p.image-description 50cm x 100cm
                        .col-12.gallery-container.full-width-gallery-image
                            img.img-fluid(src='assets/gallery/2024/14.jpg', alt='...')
                            .container
                                .row    
                                    .col-10.offset-1
                                        p.image-title The Breeze bring with it the Lightest Touch
                                        p.image-description 50cm x 100cm
                    .row.gx-0.mb-5.mb-lg-0.justify-content-center
                        .col-xl-4.col-md-6.col-12.gallery-container
                            img.img-fluid(src='assets/gallery/2024/15.jpg', alt='...')
                            .container
                                .row    
                                    .col-10.offset-1
                                        p.image-title Brilliant Rose Cloud
                                        p.image-description 40cm x 40cm
                        .col-xl-4.col-md-6.col-12.gallery-container
                            img.img-fluid(src='assets/gallery/2024/16.jpg', alt='...')
                            .container
                                .row    
                                    .col-10.offset-1
                                        p.image-title Last Light of the Day
                                        p.image-description 40cm x 40cm
                        .col-xl-4.col-md-6.col-12.gallery-container
                            img.img-fluid(src='assets/gallery/2024/17.jpg', alt='...')
                            .container
                                .row    
                                    .col-10.offset-1
                                        p.image-title Raspberry Ripple Dusk
                                        p.image-description 40cm x 40cm
                        .col-xl-4.col-md-6.col-12.gallery-container
                            img.img-fluid(src='assets/gallery/2024/18.jpg', alt='...')
                            .container
                                .row    
                                    .col-10.offset-1
                                        p.image-title Magenta Light Flows
                                        p.image-description 40cm x 40cm
                        .col-xl-4.col-md-6.col-12.gallery-container
                            img.img-fluid(src='assets/gallery/2024/19.jpg', alt='...')
                            .container
                                .row    
                                    .col-10.offset-1
                                        p.image-title Rose on Teal
                                        p.image-description 40cm x 40cm
                        .col-xl-4.col-md-6.col-12.gallery-container
                            img.img-fluid(src='assets/gallery/2024/20.jpg', alt='...')
                            .container
                                .row    
                                    .col-10.offset-1
                                        p.image-title Eventide Over the Sound
                                        p.image-description 40cm x 40cm
                        .col-xl-4.col-md-6.col-12.gallery-container
                            img.img-fluid(src='assets/gallery/2024/21.jpg', alt='...')
                            .container
                                .row    
                                    .col-10.offset-1
                                        p.image-title Sunset over Jura
                                        p.image-description 40cm x 40cm
                                    .col-1
                                        .sold-container
                                            .sold
                        .col-xl-4.col-md-6.col-12.gallery-container
                            img.img-fluid(src='assets/gallery/2024/22.jpg', alt='...')
                            .container
                                .row    
                                    .col-10.offset-1
                                        p.image-title Warmth on the Horizon
                                        p.image-description 40cm x 40cm


        // Contact
        section.contact-section#contact
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100.bg-white
                            .card-body.text-center
                                i.fas.fa-envelope.text-primary.mb-2
                                h4.text-uppercase.m-0.text-black-50 Email
                                hr.my-4.mx-auto
                                .small.text-black-50
                                    a(href='mailto:jjkilmory@gmail.com') jjkilmory@gmail.com
                //.social.d-flex.justify-content-center
                    a.mx-5(href='https://www.instagram.com/julesakasarucijackson/')
                        i.fab.fa-instagram

        // Footer
        footer.footer.small.text-center
            .container.px-4.px-lg-5.text-white
                | &copy; Jules Jackson <script>var CurrentYear = new Date().getFullYear();document.write(CurrentYear);</script>

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

